[Unit]
Description=Daphne server script for project
After=network.target

[Service]
WorkingDirectory=/root/nti2021-api
ExecStart=gunicorn -k uvicorn.workers.UvicornWorker nti2021.asgi:application --workers 24 -b 0.0.0.0:80
Restart=always

[Install]
WantedBy=multi-user.target
